.ng-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.ng-layout-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: -1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}